* {
    padding: 0px;
    margin: 0px;
}

/* ---- MOVIL FIRST ---- */
header {
   background-image: url(../img/donde1.png);
   background-repeat: no-repeat;
   width: 100%;
   height: auto;
}
.titulo1{
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    padding: 1rem;
    text-align: center;
    background-color: rgb(34, 87, 126);
    color: rgb(233, 227, 186);
}
.titulo2 {
    color: rgb(233, 227, 186);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    padding: 1rem;
    text-align: center;
}
.animate__pulse {
    display: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 6rem;
    color: rgb(233, 227, 186);
    text-align: center;
    padding: 4rem
}
/* ------imagenes/direcciones */
.nav-img {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
    margin: 4rem;
}
.img1:hover {
    transform: scale(1.4);
}
.img2:hover:hover {
    transform: scale(1.4);
}
.img3:hover:hover {
    transform: scale(1.4);
}/* ----- video de estacionamiento ------- */
.video {
    display: flex;
    justify-content: center;
}
section {
    background-color: rgb(246, 242, 212);
}
.recomendaciones {
    background-color: rgb(246, 242, 212);
    color: rgb(34, 87, 126) ;
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    text-align: center;
    font-size: 4rem ;
    text-transform: uppercase;
}
.reco {
    background-color: rgb(34, 87, 126);
    color: rgb(240, 237, 219);
    font-family: 'Roboto', sans-serif;
    padding: 2rem;
    margin: 2rem;
    font-size: 1.2rem;
    list-style: none;
    text-align: center;
}
.reco:hover {
    transform: scale(1.4);
}
.video {
    padding: 2rem;
}
/* -------FOOTER */
.footer{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(222, 228, 235);
    text-align: center;
    font-size: 1.2rem;
}
.footer a {
    margin: 1rem;
    text-decoration: none;
    align-items: center;
    list-style: none;
}

/* ---- TABLETS ---- */
@media(min-width: 768px) {

    header {
        background-image: url(../img/donde1.png);
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
     }
     .titulo1{
         font-family: 'Bebas Neue', cursive;
         font-size: 4rem;
         padding: 1rem;
         text-align: center;
         background-color: rgb(34, 87, 126);
         color: rgb(233, 227, 186);
     }
     .titulo2 {
         color: rgb(233, 227, 186);
         font-family: 'Roboto', sans-serif;
         font-weight: bolder;
         padding: 1rem;
         text-align: center;
     }
     .animate__pulse {
         display: inline-block;
         text-align: center;
         align-items: center;
         font-family: 'Bebas Neue', cursive;
         font-size: 5rem;
         color: rgb(233, 227, 186);
         padding: 4rem
     }
     /* ------imagenes/direcciones */
     .nav-img {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
         padding: 2rem;
         margin: 4rem;
     }
     .img1:hover {
         transform: scale(1.4);
     }
     .img2:hover:hover {
         transform: scale(1.4);
     }
     .img3:hover:hover {
         transform: scale(1.4);
     }/* --------------video de estacionamiento */
     .video {
         display: flex;
         justify-content: center;
     }
     section {
         background-color: rgb(246, 242, 212);
     }
     .recomendaciones {
         background-color: rgb(246, 242, 212);
         color: rgb(34, 87, 126) ;
         font-family: 'Bebas Neue', cursive;
         font-weight: bolder;
         text-align: center;
         font-size: 4rem ;
         text-transform: uppercase;
     
     }
     .reco {
         background-color: rgb(34, 87, 126);
         color: rgb(240, 237, 219);
         font-family: 'Roboto', sans-serif;
         padding: 2rem;
         margin: 2rem;
         font-size: 1.2rem;
         list-style: none;
         text-align: center;
     }
     .reco:hover {
         transform: scale(1.4);
     }
     .video {
         padding: 2rem;
     }
     
     /* -------FOOTER */
     .footer{
         font-family: 'Roboto', sans-serif;
         background-color: rgb(222, 228, 235);
         text-align: center;
         font-size: 1.2rem;
     }
     .footer a {
         margin: 1rem;
         text-decoration: none;
         align-items: center;
         list-style: none;
     }

}

/* ---- PANTALLAS NORMALES ---- */
@media(min-width: 992px) {
    header {
        background-image: url(../img/donde1.png);
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
     }
     .titulo1{
         font-family: 'Bebas Neue', cursive;
         font-size: 4rem;
         padding: 1rem;
         text-align: center;
         background-color: rgb(34, 87, 126);
         color: rgb(233, 227, 186);
     }
     .titulo2 {
         color: rgb(233, 227, 186);
         font-family: 'Roboto', sans-serif;
         font-weight: bolder;
         padding: 1rem;
         text-align: center;
     }
     .animate__pulse {
         display: flex;
         justify-content: center;
         text-align: center;
         font-family: 'Bebas Neue', cursive;
         font-size: 5rem;
         color: rgb(233, 227, 186);
         padding: 4rem
     }
     /* ------imagenes/direcciones */
     .nav-img {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
         padding: 2rem;
         margin: 2rem;
     }
     .img1:hover {
         transform: scale(1.4);
     }
     .img2:hover:hover {
         transform: scale(1.4);
     }
     .img3:hover:hover {
         transform: scale(1.4);
     }/* --------------video de estacionamiento */
     .video {
         display: flex;
         justify-content: center;
     }
     section {
         background-color: rgb(246, 242, 212);
     }
     .recomendaciones {
         background-color: rgb(246, 242, 212);
         color: rgb(34, 87, 126) ;
         font-family: 'Bebas Neue', cursive;
         font-weight: bolder;
         text-align: center;
         font-size: 4rem ;
         text-transform: uppercase;
     
     }
     .reco {
         background-color: rgb(34, 87, 126);
         color: rgb(240, 237, 219);
         font-family: 'Roboto', sans-serif;
         padding: 2rem;
         margin: 2rem;
         font-size: 1.2rem;
         list-style: none;
         text-align: center;
     }
     .reco:hover {
         transform: scale(1.4);
     }
     .video {
         padding: 2rem;
     }
     
     /* -------FOOTER */
     .footer{
         font-family: 'Roboto', sans-serif;
         background-color: rgb(222, 228, 235);
         text-align: center;
         font-size: 1.2rem;
     }
     .footer a {
         margin: 1rem;
         text-decoration: none;
         align-items: center;
         list-style: none;
     }


}