* {
    padding: 0px;
    margin: 0px;
}
body { 
    font-family: 'Roboto', sans-serif;
}

section {
    background-color: lightsteelblue;
}
.titulo1{
    padding: 2rem;
    margin: 0rem;
    text-align: center;
}

.titulo2 {
    padding: 1rem;
    text-align: center;
}

.titulo3 {
    text-align: center;
}
/* ------imagenes/direcciones */

.nav-img {
    padding: 3rem;
    margin: 1rem;
    text-align: center;
}

.img1:hover {
    transform: scale(1.4);
}

.img2:hover:hover {
    transform: scale(1.4);
}

.img3:hover:hover {
    transform: scale(1.4);
}/* --------------video de estacionamiento */
.video {
    display: flex;
    justify-content: center;
}

.recomendaciones {
    text-align: center;
    border: rgb(185, 240, 240);
    font-size: 1.5rem ;
    text-transform: uppercase;
    text-decoration-line: underline;
}

.reco {
    list-style: none;
    text-align: center;
}