* {
    padding: 0px;
    margin: 0px;
}
body { 
    font-family: 'Roboto', sans-serif;
}

section {
    background-color: white;
}
.titulo1{

    padding: 2rem;
    margin: 0rem;
    text-align: center;
    background-color: rgb(85, 132, 172);
    color: rgb(246, 242, 212);
}

.titulo2 {
    padding: 1rem;
    text-align: center;
}

.animate__pulse {
    text-align: center;
    padding: 4rem
}
/* ------imagenes/direcciones */

.nav-img {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    margin: 4rem;
}

.img1:hover {
    transform: scale(1.4);
}

.img2:hover:hover {
    transform: scale(1.4);
}

.img3:hover:hover {
    transform: scale(1.4);
}/* --------------video de estacionamiento */
.video {
    display: flex;
    justify-content: center;
}

.recomendaciones {
    text-align: center;
    border: rgb(185, 240, 240);
    font-size: 1.5rem ;
    text-transform: uppercase;
    text-decoration-line: underline;
}

.reco {
    list-style: none;
    text-align: center;
}