* {
    padding: 0px;
    margin: 0px;
}

/* BODY */
header {
    font-family: 'Roboto', sans-serif;
}
section {
    font-family: 'Roboto', sans-serif;
}

/* ----- Section ---- */
.section__titulo{
    padding: 10px;
    font-size: 2rem;
    text-align: center;
}

.header__nav--logo{
    padding: 1rem;
    text-align: center;
}
.contenedorflex{
    background-color: rgb(34, 87, 126);
    padding: 3rem;
    margin: 0rem;
    font-size: 0,5rem;
    display: flex;
    text-align: center;
    flex-direction: row;
    color: rgb(246, 242, 212);;
    
}

.items {
    list-style: none;
    font-size: 1rem;
    justify-content: center;
}

.tituloapp {
    padding: 10px;
    font-size: 20px;
}

/* -------CARRUSEL */

.carousel-inner {
    display: flex;
    justify-content: space-evenly;
    
}

/* -------FOOTER */
.footer{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(222, 228, 235);
    text-align: center;
    font-size: 1.2rem;
   
  
}
.footer a {
    margin: 1rem;
    text-decoration: none;
    align-items: center;
    list-style: none;
}
