* {
    padding: 0px;
    margin: 0px;
}


/* ----- MOVIL FIRST ------ */

.principal {
    font-family: 'Bebas Neue', cursive;
    font-size: 6rem;
    color: rgb(233, 227, 186);
    background-color: rgb(34, 87, 126);
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informacion {
    font-family: 'Roboto', sans-serif;
    padding: 8rem;
    margin: 3rem;
    text-align: center;
    color: rgb(233, 227, 186);
    font-size: 1.2rem;
}

.agregado-movil {
    font-family: 'Bebas Neue', cursive;
    color: rgb(233, 227, 186);
    text-align: center;
    padding: 2rem;
    font-size: 4rem;
}

.item {
    display: none;
    font-family: 'Bebas Neue', cursive;
    color: rgb(233, 227, 186);
    font-size: 2rem;
}

.item2 {
    display: none;
    font-family: 'Bebas Neue', cursive;
    color: rgb(233, 227, 186);
    font-size: 2rem;
}
/* CARROUSEL */

.carousel-inner {
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
}
/* OPINIONES */
.titulo {
    font-family: 'Bebas Neue', cursive;
}
.contenedorflex {
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    background-color: rgb(34, 87, 126);
    color: rgb(233, 227, 186);
    display: flex;
    justify-content: space-evenly;    
}

.titulo {
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
li {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* -------FOOTER */
.footer {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(222, 228, 235);
    text-align: center;
    font-size: 1.2rem; 
}
.footer a {
    font-family: 'Roboto', sans-serif;
    margin: 1rem;
    text-decoration: none;
    align-items: center;
    list-style: none;
}



/* ------ TABLETS ------ */
@media (min-width: 768px) {

  .principal {
    font-family: 'Bebas Neue', cursive;
    font-size: 6rem;
    color: rgb(233, 227, 186);
    background-color: rgb(34, 87, 126);
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informacion {
    font-family: 'Roboto', sans-serif;
    padding: 8rem;
    margin: 3rem;
    text-align: center;
    color: rgb(233, 227, 186);
    font-size: 1.2rem;
}

.agregado-movil{ 
    display: none;
}
.item {
    display: inline;
    font-family: 'Bebas Neue', cursive;
    color: rgb(233, 227, 186);
    font-size: 2rem;
}

.item2 {
    display: inline;
    font-family: 'Bebas Neue', cursive;
    color: rgb(233, 227, 186);
    font-size: 2rem;
}
/* CARROUSEL */
.carousel-inner {
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
}
/* OPINIONES */
.titulo {
    font-family: 'Bebas Neue', cursive;
}
.contenedorflex {
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    background-color: rgb(34, 87, 126);
    color: rgb(233, 227, 186);
    display: flex;
    justify-content: space-evenly;    
}

.titulo {
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
li {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* -------FOOTER */
.footer {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(222, 228, 235);
    text-align: center;
    font-size: 1.2rem; 
}
.footer a {
    font-family: 'Roboto', sans-serif;
    margin: 1rem;
    text-decoration: none;
    align-items: center;
    list-style: none;
}
    

}