* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* GALERIA */
.gallery-container {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 20%, 50%, 20%;

}

.gallery-container img {
    width: 50%;
    height: 100%;
}

/* 2 filas  */

/* FOOTER    */
.footer{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(222, 228, 235);
    text-align: center;
    font-size: 1.2rem;
   
  
}

.footer a {
    margin: 1rem;
    text-decoration: none;
    justify-content:center;
    list-style: none;
}





 