body {
    font-family: 'Outfit', sans-serif;
    }

.header__titulo {
    text-align: center;
    padding: 2rem;
}

.titulo3 {
    font-size: 2rem;
}
.tips {
    list-style: none;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    
}