body {
    font-family: 'Roboto', sans-serif;
    }

header {
    background-color: rgb(233, 227, 186) ;
}

.titulo1 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding: 2rem;
    background-color: rgb(34, 87, 126);
    color: rgb(233, 227, 186);
    font-size: 4rem;

}

.animate__animated {
    font-family: 'Bebas Neue', cursive;
    color: rgb(149, 209, 204);
    font-size: 5rem;
}

.carousel {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    padding: 2rem;
    background-color:  rgb(233, 227, 186);
}

/* TITULOS */

.tips {
    background-color:  rgb(233, 227, 186);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
}

.listado {
    list-style: none;
    padding: 1rem;
}

.titulo2 {
    background-color:  rgb(233, 227, 186);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
}


/* FOOTER */
.footer{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(222, 228, 235);
    text-align: center;
    font-size: 1.2rem;
   
  
}
.footer a {
    margin: 1rem;
    text-decoration: none;
    align-items: center;
    list-style: none;
}
