@import "promo";
@import "maps" ;
@import "extend";

/* VARIABLE */
$color-letra: rgb(246, 242, 212) ;


section {
  background-color: #5584ac;
  color: #f6f2d4;
  text-align: center;
}

section h1 {
  font-size: 4rem;
}

section h2 {
  font-size: 2rem;
}

section li {
  text-decoration: none;
  list-style: none;
}

  
div img {
  display: flex;
  padding: 2rem;
  margin: 1rem;
}

  
.carousel-inner {
  display: flex;
  justify-content: space-evenly;
}

.contenedorflex {
  display: flex;
  justify-content: space-evenly;
  background-color: #22577e;
  color: $color-letra;
  font-weight: bolder;

  .titulo {
      display: flex;
      align-items: center;
  }
}


footer {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(222, 228, 235);
  text-align: center;
  font-size: 1.2rem;
 
   a {
  margin: 1rem;
  text-decoration: none;
  align-items: center;
  list-style: none; }
}
